In [6]:
import pandas as pd
d={'Mouse':[150,200,300,400],
   'Keyboard':[180,200,190,300],
   'Scanner':[200,280,330,450]}
df=pd.DataFrame(d,index=['Jan','Feb','March','April'])

In [10]:
print(df.columns)

Index(['Mouse', 'Keyboard', 'Scanner'], dtype='object')

In [17]:
df[['Mouse', 'Scanner']]

       Mouse  Scanner
Jan      150      200
Feb      200      280
March    300      330
April    400      450

In [18]:
df.Keyboard

Jan      180
Feb      200
March    190
April    300
Name: Keyboard, dtype: int64

In [28]:
df.loc[: ,'Scanner']

Jan      200
Feb      280
March    330
April    450
Name: Scanner, dtype: int64

In [33]:
Mouse200 = df[df['Mouse'] > 200]
print (Mouse200)

       Mouse  Keyboard  Scanner
March    300       190      330
April    400       300      450

In [38]:
Mouse200=df.iloc[:, [0,2]]
print(Mouse200)

       Mouse  Scanner
Jan      150      200
Feb      200      280
March    300      330
April    400      450

In [39]:
df.iloc[:, [0,2]]

       Mouse  Scanner
Jan      150      200
Feb      200      280
March    300      330
April    400      450

In [40]:
selected_data = df.loc[['Jan', 'March'], ['Scanner', 'Keyboard']]
print(selected_data)

       Scanner  Keyboard
Jan        200       180
March      330       190

In [41]:
df.iloc[::2,1::]

       Keyboard  Scanner
Jan         180      200
March       190      330