In [1]:
# Let's Learn to import library first

import sqlite3

In [3]:
#We will do properly with try catch block (without dataframe)

try:
    sqlconnection=sqlite3.connect("C:\\Users\Geetu Sodhi\\Desktop\Teacher.db")
    cursor=sqlconnection.cursor()
    print("Database connected successfully")
    query="""SELECT * FROM Employee """
    cursor.execute(query)
    records=cursor.fetchall()
    print("Number of records: ",len(records))
    for row in records:
        print(row[0],end=" ")
        print(row[1],end=" ")
        print(row[2],end=" ")
        print()
except sqlite3.Error as error:
    print("Error")
finally:
    sqlconnection.close()

Database connected successfully
Number of records:  7
1 Geetu 34.6
2 None 56.7
101 None 4000.0
102 Alazar 3500.0
103 Ishan 4200.0
104 Katie 4500.0
105 Jenet 4500.0

In [4]:
#Lets see the benift of using dataframe

import pandas as pd
try:
    sqlconnection=sqlite3.connect("C:\\Users\Geetu Sodhi\\Desktop\Teacher.db")
    cursor=sqlconnection.cursor()
    print("Database connected successfully")
    query="""SELECT * FROM Employee where eid=101 """
    cursor.execute(query)
    df = pd.DataFrame(cursor.fetchall())
    print (df)
except sqlite3.Error as error:
    print("Error")

Database connected successfully
     0     1       2                   3    4
0  101  None  4000.0  Software Developer  D01

In [8]:
#Lets learn to fetch column names and place it properly

import pandas as pd
try:
    sqlconnection=sqlite3.connect("C:\\Users\Geetu Sodhi\\Desktop\Teacher.db")
    cursor=sqlconnection.cursor()
    print("Database connected successfully")
    print()
    query="""SELECT * FROM Employee where eid=101 """
    cursor.execute(query)
    #Lets create a list to fetch column names
    names=[]
    cursor.execute(''' Select * from Employee''')
    #fetch column names and add it to the empty list "Names"
    for x in cursor.description:
        names.append(x[0])  
        
    df = pd.DataFrame(cursor.fetchall(),columns=names)
    print(df)
    #df = pd.DataFrame(cursor.fetchall())
    #print (df)
except sqlite3.Error as error:
    print("Error")

Database connected successfully

   EID    Name  Salary                  JobTitle  DID
0    1   Geetu    34.6                       hhh  D01
1    2    None    56.7                       hhh  D02
2  101    None  4000.0        Software Developer  D01
3  102  Alazar  3500.0          Business Analyst  D01
4  103   Ishan  4200.0            Technical Lead  D01
5  104   Katie  4500.0  Proffesional Coordinator  D02
6  105   Jenet  4500.0              Personal Dev  D03

In [9]:
#Adding data to the Exisisitng file

import pandas as pd
import sqlite3
conn=sqlite3.connect("C:\\Users\\Geetu Sodhi\\Downloads\\Teacher.db")
c = conn.cursor()

d={"EID":[111,112],"Name":["Geetu","Nancy"],"Salary":[3400.6,5600.7],"JobTitle":["hhh","hhh"],"DID":["D01","D02"]}
df2=pd.DataFrame(d)

df2.to_sql('Employee', conn, if_exists='append', index = False)

c.execute(''' Select * from Employee''')

df = pd.DataFrame(c.fetchall())
print (df)

       0       1       2                         3    4
0      1   Geetu    34.6                       hhh  D01
1      2    None    56.7                       hhh  D02
2    101    None  4000.0        Software Developer  D01
3    102  Alazar  3500.0          Business Analyst  D01
4    103   Ishan  4200.0            Technical Lead  D01
5    104   Katie  4500.0  Proffesional Coordinator  D02
6    105   Jenet  4500.0              Personal Dev  D03
7    111   Geetu  3400.6                       hhh  D01
8    112   Nancy  5600.7                       hhh  D02
9   1021   Geetu  3400.6                       hhh  D01
10  1031   Geetu  3400.6                       hhh  D01
11  2022   Nancy  5600.7                       hhh  D02
12  2032   Nancy  5600.7                       hhh  D02

In [10]:
#Adding data to the Exsistng file -Let's try with insert command

import pandas as pd
import sqlite3
conn=sqlite3.connect("C:\\Users\\Geetu Sodhi\\Downloads\\Teacher.db")
c = conn.cursor()

sqlquery="""   insert into Employee values(115,"Olivier",3455,"QA Analyst","D01")      """

c.execute(sqlquery)

#Committing is very important after insert command otherwise it will not show the result on database

conn.commit()

print("Record inserted succesfully")

c.execute(''' Select * from Employee''')

df = pd.DataFrame(c.fetchall())
print (df)

Record inserted scucesfully
       0        1       2                         3    4
0      1    Geetu    34.6                       hhh  D01
1      2     None    56.7                       hhh  D02
2    101     None  4000.0        Software Developer  D01
3    102   Alazar  3500.0          Business Analyst  D01
4    103    Ishan  4200.0            Technical Lead  D01
5    104    Katie  4500.0  Proffesional Coordinator  D02
6    105    Jenet  4500.0              Personal Dev  D03
7    111    Geetu  3400.6                       hhh  D01
8    112    Nancy  5600.7                       hhh  D02
9    115  Olivier  3455.0                QA Analyst  D01
10  1021    Geetu  3400.6                       hhh  D01
11  1031    Geetu  3400.6                       hhh  D01
12  2022    Nancy  5600.7                       hhh  D02
13  2032    Nancy  5600.7                       hhh  D02

In [13]:
#Let's learn to update now?

import pandas as pd
import sqlite3
conn=sqlite3.connect("C:\\Users\\Geetu Sodhi\\Downloads\\Teacher.db")
c = conn.cursor()

Name= input("Enter the name of the person for whom you wish to change the salary: ")
Salary=input("Enter the salary:")

sqlquery="""  update Employee set salary=? where Name=?      """
data=(Salary,Name )

c.execute(sqlquery,data)

#Committing is very important after insert command otherwise it will not show the result on database

conn.commit()

print("Record updated succesfully")

c.execute(''' Select * from Employee''')

df = pd.DataFrame(c.fetchall())
print (df)

Enter the name of the person for whom you wish to change the salary Geetu
Enter the salary6000
Record updated succesfully
       0        1       2                         3    4
0      1    Geetu  6000.0                       hhh  D01
1      2     None    56.7                       hhh  D02
2    101     None  4000.0        Software Developer  D01
3    102   Alazar  3500.0          Business Analyst  D01
4    103    Ishan  4200.0            Technical Lead  D01
5    104    Katie  4500.0  Proffesional Coordinator  D02
6    105    Jenet  4500.0              Personal Dev  D03
7    111    Geetu  6000.0                       hhh  D01
8    112    Nancy  5600.7                       hhh  D02
9    115  Olivier  3455.0                QA Analyst  D01
10  1021    Geetu  6000.0                       hhh  D01
11  1031    Geetu  6000.0                       hhh  D01
12  2022    Nancy  5600.7                       hhh  D02
13  2032    Nancy  5600.7                       hhh  D02

In [16]:
#Let's learn to delete now...

import pandas as pd
import sqlite3
conn=sqlite3.connect("C:\\Users\\Geetu Sodhi\\Downloads\\Teacher.db")
c = conn.cursor()

#idd= input("Enter the Eid of the person: ")

sqlquery="""  Delete from Employee where Eid=101      """
#data=(idd)

c.execute(sqlquery)

#Committing is very important after insert command otherwise it will not show the result on database

conn.commit()

print("Record updated succesfully")

c.execute(''' Select * from Employee''')

df = pd.DataFrame(c.fetchall())
print (df)

Record updated succesfully
       0        1       2                         3    4
0      1    Geetu  6000.0                       hhh  D01
1      2     None    56.7                       hhh  D02
2    102   Alazar  3500.0          Business Analyst  D01
3    103    Ishan  4200.0            Technical Lead  D01
4    104    Katie  4500.0  Proffesional Coordinator  D02
5    105    Jenet  4500.0              Personal Dev  D03
6    111    Geetu  6000.0                       hhh  D01
7    112    Nancy  5600.7                       hhh  D02
8    115  Olivier  3455.0                QA Analyst  D01
9   1021    Geetu  6000.0                       hhh  D01
10  1031    Geetu  6000.0                       hhh  D01
11  2022    Nancy  5600.7                       hhh  D02
12  2032    Nancy  5600.7                       hhh  D02

In [19]:
#How about creating a new table?  Want to try? lets do it

try:
    sqlconnection=sqlite3.connect("C:\\Users\Geetu Sodhi\\Desktop\Teacher.db")
    cursor=sqlconnection.cursor()
    print("Database connected successfully")
    query="""Create table Projects (PID int PRIMARY KEY, Pname Text, PManager Text); """
    cursor.execute(query)
    sqlconnection.commit()
    print("Table created succesfully")
except sqlite3.Error as error:
    print("Error")
finally:
    sqlconnection.close()

Database connected successfully
Table created succesfully

In [ ]:
#Heard about Executemany() .... leaving it for you to explore